.container1{
	height: 99vh;
}

.logo{
/*	vertical-align: middle;*/
	width: 45%;
	margin: 0;
  	position: absolute;
  	top: 51vh;
    left: 30%;
  	transform: translateX(-50%);
  	transform: translateY(-50%);
}

.imgBox{
	width: 100%;
	min-height: 23.75%;	
	margin-bottom: 1%;	
	background-size: cover;
}

.box1{
	background-image: url("https://live.staticflickr.com/65535/51908921433_932e4726b0_h.jpg");
	}

.box2{
	background-image: url("https://live.staticflickr.com/65535/51910546798_ba345dc5de_k.jpg");
	}

.box3{
	background-image: url("https://live.staticflickr.com/65535/51911070540_b0326b6483_h.jpg");
	}

.box4{
	background-image: url("https://live.staticflickr.com/65535/51909459330_f8b820870a_k.jpg");
	}

.container2{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
